/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

header h1 {
    margin: 0;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #0056b3;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

h2 {
    color: #007BFF;
    font-size: 28px;
}

p {
    line-height: 1.6;
}

/* Estilos específicos para cada página */
/* Estilos para la página de inicio */
.index {
    background-color: #F5A623;
}

/* Estilos para la página de blog */
.blog {
    background-color: #55BF55;
}

.blog article {
    margin-bottom: 40px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.blog article:hover {
    transform: scale(1.02);
}

.blog article h3 {
    color: #007BFF;
    font-size: 24px;
    margin-top: 0;
    transition: color 0.3s ease;
}

.blog article:hover h3 {
    color: #0056b3;
}

/* Estilos para la página "Acerca de Mí" */
.about {
    background-color: #FF5959;
}

.about h3 {
    color: #fff;
    font-size: 24px;
}

/* Estilos para la página de contacto */
.contact {
    background-color: #3498DB;
}

.contact h3 {
    color: #fff;
    font-size: 24px;
}

/* Estilo para el formulario de contacto */
form {
    margin-top: 20px;
}

form label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form input[type="text"]:focus,
form input[type="email"]:focus,
form textarea:focus {
    background-color: #fff;
}

form button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #0056b3;
}

/* Estilos para los enlaces */
a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
